*{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 187, 144);
    

}
.container-global{
    display: flex;
    background-color: rgb(33, 122, 73);
    height:100dvh;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
 }
.container-one{
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 50rem;
    width: 50rem;
    background-color: aqua;
    justify-content: space-around;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(231, 221, 221);
    height: 17rem;
    width: 17rem;
    align-items: center
 }
 .uns{
    display: flex;
    flex-direction: column;
    background-color: #e21111;
    height: 17rem;
    width: 15rem;
}
 .szwei{
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 121, 209);
    height: 12rem;
    width: 15rem;
 }

.second{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 17rem;
    width: 17rem;
    align-items: center;
}
.go{
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 23, 45);
    height: 7rem;
    width: 14rem;
}
.came{
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 18, 36);
    height: 7rem;
    width: 14rem;
 }
.derniere{
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 56, 56);
    height: 7rem;
    width: 14rem;
}
.container-two{
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 50rem;
    width: 50rem;
    background-color:blueviolet ;
}
.parent1{
    position: absolute;
    height: 10rem;
    width: 8rem;
    bottom: 130px;
    left: 55px;
    background-color: #e21111;
}
.parent2{
    position: absolute;
    height: 10rem;
    width: 8rem;
    top: 155px;
    left: 309px;
    background-color: aliceblue;
}
.parent3{
    position: absolute;
    height: 10rem;
    width: 8rem;
    bottom: 20px;
    right: 120px;
}