*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    

}

.container-global{
    display: flex;
    height:100dvh;
    /* width:dvw */
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color:#f8f7f8;
    border: 1x solid black;

 }
.container-one{
    display: flex;
    align-items: center;
    height: 50rem;
    width: 70%;
    justify-content: space-between;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 17rem;    */
    width: 100%;
    background-color:#f8f7f8;
 }
 .uns{
    display: flex;
    flex-direction: column;
    height: 17rem;
    width: 25rem;
    color:#511f50;
    font-size: both;
}
h1{
    height: 50px;
    font-size: xxx-large;
}

 .szwei{
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 25rem;
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

.second{
    display: flex;
    flex-direction: column-reverse;
    height: 18rem;
    width: 25rem;
    align-items: center;
    justify-content: space-around;
}
.go{
    display: flex;
    flex-direction: row;
    background-color:#f7f2f8;
    height: 2rem;
    width: 18rem;
    border: 1px solid #f7f2f8;
    justify-content: space-around;
}
.ratrappage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.etoile{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    justify-content: center;
    color:#f7f2f8;
    opacity: 50%;
}
.container-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width: 100%;
}
.parent1{
    display: flex;
    background-color:#511f50;
    height: 15rem;
    width: 20rem;
    flex-direction: column;
    
    border-radius: 10px;
    color: white;
    padding: 20px;
    
    
}
.orange{
    display: flex;
    flex-direction: column;
    background: #511f50;
    height: 20px;
    justify-content: flex-start;
}
.competence{
    background-color: #511f50;
    color: white;
    opacity: 30%;

}
#rose{
    display: flex;
    border-radius: 60%;
    height: 50px;
    background-color:#511f50;
}
.image{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color:#511f50;
}

.item{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 140px ;
    background-color: #511f50;
}